* {
    margin: 0;
    padding: 0;
}

body, html {
    min-width: 100%;
    min-height: 90vh;
}
  
body {
    background: url(https://media.tenor.com/3K6_j30dAIAAAAAC/zen-nature.gif) no-repeat;
    background-size: cover;
}

h1, ul {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 400;
    color: #564734;
}
ul li.checked {
    color: #677C77;
    text-decoration: line-through;
  }
  

.close {
    font-size: 15px;
    border-radius: 100%;
    border: none;
    background-color: #8EA076;
    margin-left: 10px;
    padding: 1px 5px 2px 5px;
}

.close:hover {
    background-color: #f44336;
    color: white;
  }


.submit-btn {
  height: 20px;
  color: #564734;
  border: 1px solid #000;
  border-radius: 18px;
  font-family: "Axiforma Regular", sans-serif;
  padding: 10px 10px 20px 10px;
  font-size: 14px;
  line-height: 1.1;
  transition: all .3s ease;
  text-align: center;
  border-color: #8EA076;
  background-color: #8EA076;
  margin: 40px auto;
  cursor: pointer;
}

.bold-text {
    font-weight: bold;
    color: #445F3B;
}

.main-h1 {
    margin: 40px 20px 0 40px ;
}

.input-field {
    margin: 0 30px;
    height: 40px; 
    background-color: #fff;
    border: none;
    border-radius: 35px;
    text-align: center;
}

.input-field:focus {
    outline: none !important;
    border:1px solid #8EA076;
    box-shadow: 0 0 10px #8EA076;
  }

.inp-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#main-content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0EFEA;
    width: 327px;
    margin: 70px auto;
    height: 10hv;
    max-height: 600px;
    box-shadow: 0px 40px 40px -20px #677C77;
    border-radius: 10px;
    overflow-y:auto
}

#myUL {
  margin: 10px 0;
}

#myUL li {
  cursor: pointer;
  margin: 10px 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (min-width: 992px) {
}