* {
    margin: 0;
    padding: 0;
}

body, html {
    min-width: 100%;
    min-height: 90vh;
}
  
body {
    background: url(https://media.tenor.com/3K6_j30dAIAAAAAC/zen-nature.gif) no-repeat;
    background-size: cover;
}

h1 {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-weight: 400;
    color: #564734;
}

.submit-btn {
  height: 15px;
  color: #564734;
  border: 1px solid #000;
  border-radius: 18px;
  padding: 10px 5px 24px;
  font-family: "Axiforma Regular", sans-serif;
  font-size: 14px;
  line-height: 1.1;
  transition: all .3s ease;
  text-align: center;
  border-color: #8EA076;
  background-color: #8EA076;
  margin: 40px auto;
}

.bold-text {
    font-weight: bold;
    color: #445F3B;
}

.main-h1 {
    margin: 40px 20px;
}

.input-field {
    margin: 0 30px;
    height: 40px; 
    background-color: #fff;
    border: none;
    border-radius: 35px;
    text-align: center;
}

#main-content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #E0EFEA;
    width: 327px;
    margin: 70px auto;
    height: 550px;
    box-shadow: 0px 40px 40px -20px #677C77;
    border-radius: 10px;

}